
<div class="esig-wrap" style="border:solid #ccc 2px; margin:0; padding:0; width: 484px">
	<table class="table" id="selectme" width="480" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" style="font-family:Times; margin:0">
		<tbody>
			<tr>
				<td align="left" valign="top" style="border:none;">
					<table width="460" border="0" cellspacing="0" cellpadding="0">
						<tbody>
							<tr>
								<td>
									<table width="100%" cellspacing="0" cellpadding="18" style="table-border:none">
										<tbody>
											<tr>
												<td>
													<table width="100%" cellspacing="0" cellpadding="0">
														<tbody>
															<tr>
																<td width="6" style="font-size:0pt;line-height:0pt"></td>
																<td width="200" valign="top">
																	<table width="100%" cellspacing="0" cellpadding="0">
																		<tbody>
																			<tr>
																				<td style="font-size:0pt;line-height:0pt">
																					<table width="100%" cellspacing="0" cellpadding="0">
																						<tbody>
																							<tr>
																								<td height="38"></td>
																							</tr>
																							<tr>
																								<td>
																									<a href="http://www.benefitsinacard.com/" target="_blank"><img src="http://bic-esigs.createlaunchlead.com/_assets/images/logo-bic.png" border="0" width="200" height="99" alt="Benefits in a Card"></a>
																								</td>
																							</tr>
																							<tr>
																								<td height="48"></td>
																							</tr>
																						</tbody>
																					</table>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</td>
																<td width="15" style="font-size:0pt;line-height:0pt">
																</td>
																<td width="1" bgcolor="#79adf1" style="font-size:0pt;line-height:0pt">
																</td>
																<td width="15" style="font-size:0pt;line-height:0pt">
																</td>
																<td width="200" valign="top">
																	<table width="100%" cellspacing="0" cellpadding="0">
																		<tbody>
																			<tr>
																				<td height="5"></td>
																			</tr>
																			<tr>
																				<td style="font-family:Arial;white-space:nowrap">
																					<span style="color:#14468b;font-weight:bold;font-size:16px;line-height:20px"><?php echo ($fields) ? $name : "Jon Doe"; ?></span><br>
																					<span style="color:#949494;font-size:12px;font-weight:bold;line-height:16px;font-style:italic;"><?php echo ($fields) ? $title : "Employee"; ?></span></td>
																			</tr>
																			<tr>
																				<td height="15"></td>
																			</tr>
																			<tr>
																				<td style="white-space:nowrap">
																					<table width="100%" cellspacing="0" cellpadding="0">
																						<tbody>
																							<tr>
																								<td width="206" valign="top" style="font-family:Arial;font-size:12px;line-height:16px;font-weight:normal">
																									<span><span style="color:#c50d1d;font-weight:bold">toll free:</span>&nbsp;<a href="tel:<?php echo ($fields) ? $office_number : "(800) 888-8888"; ?>" style="color:rgb(9,14,38);text-decoration:none;outline:none" target="_blank"><?php echo ($fields) ? $office_number : "(800) 888-8888"; ?></a></span><br>
																									<span><span style="color:#c50d1d;font-weight:bold">direct:</span>&nbsp;<a href="tel:<?php echo ($fields) ? $cell_number : "(800) 888-8888"; ?>" style="color:rgb(9,14,38);text-decoration:none;outline:none" target="_blank"><?php echo $cell_number; ?></a></span><br>
																									<span><span style="color:#c50d1d;font-weight:bold">fax:</span>&nbsp;<?php echo ($fields) ? $fax_number : "(800) 888-8888"; ?></span><br>
																									<span style="display:block;width:200px;height:5px;background:transparent"></span>
																								</td>
																							</tr>
																						</tbody>
																					</table>
																				</td>
																			</tr>
																			<tr>
																				<td height="15"></td>
																			</tr>
																			<tr>
																				<td style="color:#949494;white-space:nowrap">
																					<table width="100%" cellspacing="0" cellpadding="0">
																						<tbody>
																							<tr>
																								<td width="206" valign="top" style="font-family:Arial;font-size:10px;line-height:14px;font-weight:normal">
																									725 Lowndes Hill Road &#8226; Greenville, SC 29607<br>
																									<a href="http://www.benefitsinacard.com/" style="color:#14468b;font-weight:bold;text-decoration:none" target="_blank">www.benefitsinacard.com</a>
																								</td>
																							</tr>
																						</tbody>
																					</table>
																				</td>
																			</tr>
																			<tr>
																				<td height="20"></td>
																			</tr>
																			<tr>
																				<td>
																					<table width="100%" cellspacing="0" cellpadding="0">
																						<tbody>
																							<tr>
																								<td width="30" valign="top">
																									<a href="https://americanstaffing.net/" target="_blank"><img src="http://bic-esigs.createlaunchlead.com/_assets/images/logo-asa.png" width="30" height="33" alt="ASA" /></a>
																								</td>
																								<td width="10" valign="top"></td>
																								<td width="38" valign="top">
																									<a href="https://aca.americanstaffing.net/" target="_blank"><img src="http://bic-esigs.createlaunchlead.com/_assets/images/logo-aca.png" width="38" height="45" alt="ACA" /></a>
																								</td>
																								<td width="10" valign="top"></td>
																								<td width="52" valign="top">
																									<a href="http://www.staffingindustry.com/" target="_blank"><img src="http://bic-esigs.createlaunchlead.com/_assets/images/logo-staffing.png" width="52" height="36" alt="Staffing" /></a>
																								</td>
																								<td width="10" valign="top"></td>
																								<td width="30" valign="top">
																									<a href="https://www.linkedin.com/company/3072937" target="_blank"><img src="http://bic-esigs.createlaunchlead.com/_assets/images/logo-linkedin.png" width="30" height="30" alt="LinkedIn" /></a>
																								</td>
																							</tr>
																						</tbody>
																					</table>
																				</td>
																			</tr>
																			<tr>
																				<td height="5"></td>
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</div>